<%= simple_form_for [@branch, @staff], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :username, :input_html => { :class => "span6" }  %>
  <%= f.input :fullname, :input_html => { :class => "span6" }  %>
  <%= f.input :address, :input_html => { :class => "span6" }  %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :category_id,  :collection => UserType::OPTIONS, :as => :radio_buttons %>
  <%# f.association :branch %>
  <%= f.input :password %>
  <% if @staff.new_record? %>
   <%= f.input :password_confirmation %>
  <% end %>
  <%= f.input :active %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                branch_staffs_path(@branch), :class => 'btn' %>
  </div>
<% end %>
