<%- model_class = Staff -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @staff.username %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:fullname) %>:</strong></dt>
  <dd><%= @staff.fullname %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @staff.address %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @staff.phone %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @staff.email %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @staff.category_name %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:branch_id) %>:</strong></dt>
  <dd><%= @staff.branch.name rescue "-" %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @staff.active %>&nbsp;</dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              branch_staffs_path(@branch), :class => 'btn'  %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_branch_staff_path(@branch),
            :class => 'btn btn-primary' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_branch_staff_path(@branch, @staff), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              branch_staff_path(@branch, @staff),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
