<%- model_class = StaffRoutine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:staff_id) %></th>
      <th><%= model_class.human_attribute_name(:routine_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @staff_routines.each do |staff_routine| %>
      <tr>
        <td><%= link_to staff_routine.id, staff_routine_path(staff_routine) %></td>
        <td><%= staff_routine.staff.fullname %></td>
        <td><%= staff_routine.routine.code %></td>
        <td><%=l staff_routine.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_staff_routine_path(staff_routine), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      staff_routine_path(staff_routine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_staff_routine_path,
            :class => 'btn btn-primary' %>
