<%= simple_form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :extra_trip, :as => :hidden, :input_html => { :value => true }%>
  <%= f.input :code, :input_html => { :class => "span6" }  %>
  <%= f.input :departure_date %>
  <%= f.input :departure_time %>
  <%= f.association :routine, :collection => @routines, :label_method => :code, :prompt => "Choose a Route" %>
  <%= f.input :sales_quota %>
  <%= f.input :online_quota %>
  <%= f.input :active %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn' %>
  </div>
<% end %>