<%= simple_form_for @departure, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group departure_date optional">
    <label class="departure_time optional control-label" for="departure_time">Departure Time</label>
    <div class="controls"><input class="string departure_time optional" id="departure_time" name="departure[time]" size="16" type="text" value="<%= @departure.time %>" /></div></div>

  <%= f.association :routine, :collection => @routines, :label_method => :code, :prompt => "Choose a Route" %>
  <%= f.association :vessel %>
  <%= f.input :sales_quota %>
  <%= f.input :online_quota %>
  <%= f.input :custom_quota %>
  <%= f.input :on_call %>
  <%= f.input :status_id, :collection => [[' Open ',1] ,[' Close ', 2]], :as => :radio_buttons, :item_wrapper_class => 'inline', :label => 'Status' %>
  <%= f.input :active %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                departures_path, :class => 'btn' %>
  </div>
<% end %>
