<%- model_class = Departure -%>
<div id="accordion1" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#notification" data-original-title="">
                        <i class="icon-th icon-white"></i> <span class="divider-vertical"></span>  <%=t '.title', :default => model_class.model_name.human.pluralize %> <i class="icon-chevron-down icon-white pull-right"></i>
                    </a>
                </div>
                <div id="notification" class="accordion-body collapse in">
                    <div class="accordion-inner paddind">
                      <p><strong>Legend : </strong> CQ = Counter Quota, CS = Counter Sales, ACS = Available Counter Sales, OQ = Online Quota, OS = Online Sales, AOS = Available Online Sales </p>
                        <table  class="table table-bordered table-striped pull-left" id="example" >
                            <thead>
    <tr>
     
      <th><%= model_class.human_attribute_name(:routine_id) %></th>
      <th width="100">Departure time</th>
      <th><%= model_class.human_attribute_name(:vessel_id) %></th>
      <th><%= model_class.human_attribute_name(:extra_trip) %></th>
      <th>CQ</th>
      <th>CS</th>
      <th>ACS</th>
      <th>OQ</th>
      <th>OS</th>
      <th>AOS</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <%= form_for @search do |f| %>
        <td><%= f.select :routine_id_equals, options_from_collection_for_select(selection_routine, :id, :code, @search.routine_id_equals), { :include_blank => true }, { :style => "width: 100px;" } %></td>
         <td style="width:150px">
                                    <span data-date-format="dd-mm-yyyy" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" class="input-append date" id="start">
                                      <% if @search.date_gte.present? %>
                                        <%= f.text_field :date_gte, :value => "#{@search.date_gte.strftime("%d-%m-%Y")}", :class => "span2", :style => "width:100px;", :placeholder => "From Date" %>
                                      <% else %>
                                        <%= f.text_field :date_gte, :class => "span2", :style => "width:100px;", :placeholder => "From Date" %>
                                      <% end %>
                                      <span class="add-on"><i class="icon-th"></i></span>
                                    </span>
                                    -
                                    <span data-date-format="dd-mm-yyyy" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" class="input-append date" id="end">
                                      <% if @search.date_lte.present? %>
                                        <%= f.text_field :date_lte, :value => "#{@search.date_lte.strftime("%d-%m-%Y")}", :class => "span2", :style => "width:100px;", :placeholder => "To Date" %>
                                      <% else %>
                                        <%= f.text_field :date_lte, :class => "span2", :style => "width:100px;", :placeholder => "To Date" %>
                                      <% end %>
                                      <span class="add-on"><i class="icon-th"></i></span>
                                    </span>
                                    <!-- time picker -->
                                    <div class="input-append bootstrap-timepicker-component">
                                      <input type="text" class="timepicker-default input-small" name="time_eq">
                                      <span class="add-on">
                                          <i class="icon-time"></i>
                                      </span>
                                  </div>
        </td>
        <td><%= f.select :vessel_id_equals, options_from_collection_for_select(selection_vessel, :id, :name, @search.vessel_id_equals), { :include_blank => true }, { :style => "width: 100px;" } %></td>
        <td>
          <% if @search.extra_trip_equals.present? %> 
            <%= f.select :extra_trip_equals, options_for_select(SelectionActive::OPTION, @search.extra_trip_equals), { :include_blank => true }, { :style => "width: 70px;" } %>
          <% else %>
            <%= f.select :extra_trip_equals, options_for_select(SelectionActive::OPTION), { :include_blank => true }, { :style => "width: 70px;" } %>
          <% end %>
        </td>
        <td><%= f.text_field :sales_quota_gte, :style => "width: 30px;", :placeholder => "From" %><%= f.text_field :sales_quota_lte, :style => "width: 30px;", :placeholder => "To" %></td>
        <td><%= f.text_field :counter_sales_gte, :style => "width: 30px;", :placeholder => "From" %><%= f.text_field :counter_sales_lte, :style => "width: 30px;", :placeholder => "To" %></td>        
        <td><%= f.text_field :available_counter_sales_gte, :style => "width: 30px;", :placeholder => "From" %><%= f.text_field :available_counter_sales_lte, :style => "width: 30px;", :placeholder => "To" %></td>
        <td><%= f.text_field :online_quota_gte, :style => "width: 30px;", :placeholder => "From" %><%= f.text_field :online_quota_lte, :style => "width: 30px;", :placeholder => "To" %></td>
        <td><%= f.text_field :online_sales_gte, :style => "width: 30px;", :placeholder => "From" %><%= f.text_field :online_sales_lte, :style => "width: 30px;", :placeholder => "To" %></td>
        <td><%= f.text_field :available_online_sales_gte, :style => "width: 30px;", :placeholder => "From" %><%= f.text_field :available_online_sales_lte, :style => "width: 30px;", :placeholder => "To" %></td>

        <td><%= f.submit "Search" %></td>
      <% end %> 
    </tr>

    <% @departures.each do |departure| %>
      <tr class="<%= cycle("odd", "even") %>">
       
        <td><%= departure.routine.code %></td>
        <td><%= departure.date_time %></td>
        <td><%= departure.vessel.name rescue "Not assigned" %></td>
        <td><%= departure.extra_trip %></td>
        <td><%= departure.sales_quota %></td>
        <td><%= departure.counter_sales %></td>
        <td><%= departure.available_counter_sales %></td>
        <td><%= departure.online_quota %></td>
        <td><%= departure.online_sales %></td>
        <td><%= departure.available_online_sales %></td>
        <td>
          <% if is_admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_departure_path(departure), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        departure_path(departure),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

                      </div>
                  </div>
              </div>

          </div>
<%= paginate @departures %>
<% if is_admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_departure_path,
              :class => 'btn btn-primary' %>
<% end %>

<% content_for :javascripts_path do %>
  <script>
   $(function(){
        window.prettyPrint && prettyPrint();

        $('#start').datepicker({ dateFormat: "dd-mm-yy" }).on('changeDate', function(ev){
            $('#start').datepicker('hide');
          });

        var startDate = new Date(2012,1,20);
        var endDate = new Date(2012,1,25);

        $('#end').datepicker({ dateFormat: "dd-mm-yy"}).on('changeDate', function(ev){
            if (ev.date.valueOf() > endDate.valueOf()){
              $('#alert').show().find('strong').text('The start date can not be greater then the end date');
            } else {
              $('#alert').hide();
              startDate = new Date(ev.date);
              $('#start').text($('#end').data('date'));
            }
            $('#end').datepicker('hide');
          });

      });
  </script>
<% end %>

