<%- model_class = Departure -%>
<div class="page-header">
  <h1>Generate Departure</h1>
</div>

<%= form_tag generate_departures_path do %>
<table>
 <tr>
  <th>Route</th>
  <th>From</th>
  <th>To</th>
 </tr>
 <tr>
  <td><%= select_tag "routine_id", options_from_collection_for_select(@routines, 'id', 'code'), {:include_blank => true} %>	</td>
  <td><%= text_field_tag "from_date" %></td>
  <td><%= text_field_tag "to_date" %></td>
 </tr>
 <tr>
  <td><%= submit_tag "Generate" %></td>
 </tr>
</table>

<% end %>

<% content_for :javascripts_path do %>
   <script type="text/javascript">
	    $(document).ready(function(){
          $("#from_date").datepicker({dateFormat: 'yy-mm-dd'});
          $("#to_date").datepicker({dateFormat: 'yy-mm-dd'});
	    });
    </script>

<% end %>

