<div class="row-fluid">
    <!--Tabs1-->
    <div class="span12">
     	<div id="accordion0" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#notification0" data-original-title="">
                        <i class="icon-th icon-white"></i> <span class="divider-vertical"></span>  Order Detail <i class="icon-chevron-down icon-white pull-right"></i>
                    </a>
                </div>
                <div id="notification0" class="accordion-body collapse in">
                    <div class="accordion-inner paddind">
          			  <table  class="table table-bordered table-striped pull-left">
          			  	<thead>
          			  		<tr>
          			  		  <th colspan="4">Going Out : <%= @order.going_out_item.title %></th>
          			  		</tr>
          			  		<tr>
          			  			<th>Age</th>
          			  			<th>Price</th>
          			  			<th>Quantity</th>
          			  			<th>Amount (MYR)</th>
          			  		</tr>
          			  	</thead>

                        <tbody>
						  <tr>
						   <td>Adult</td>
						   <td><%= "%.2f" % @order.going_out_item.adult_fare rescue '0' %></td>
						   <td><%= @order.going_out_item.number_of_adult rescue '0' %> </td>
						   <td><%= "%.2f" % @order.going_out_item.total_adult_fare rescue '0' %></td>
						  </tr>
						  <tr>
						   <td>Child</td>
						   <td><%= "%.2f" % @order.going_out_item.kid_fare rescue '0' %></td>
						   <td><%= @order.going_out_item.number_of_kid rescue '0' %> </td>
						   <td><%= "%.2f" % @order.going_out_item.total_kid_fare rescue '0' %></td>
						  </tr>
						  <tr>
						   <td>Infant</td>
						   <td><%= "%.2f" % @order.going_out_item.infant_fare rescue '0' %></td>
						   <td><%= @order.going_out_item.number_of_infant rescue '0' %> </td>
						   <td><%= "%.2f" % @order.going_out_item.total_infant_fare rescue '0' %></td>
						  </tr>
						  <tr>
                           <td></td>
                           <td></td>
                           <td><%= @order.going_out_item.total_tickets rescue '0' %></td>

                       		
                       		<th>
                       			<% if @order.payment_type_is_free? %>
		                       		<%= "%.2f" % @order.going_out_item.total_amount rescue '0' %> (F.O.C)
                       			<% else %>
	                           		<%= "%.2f" % @order.going_out_item.total_amount rescue '0' %> 
		                        <% end %>
                            </th>

						  </tr>
						 <tbody>

                       <% @net_total += @order.going_out_item.total_amount %>

                       <% if @order.is_round_trip? or @order.is_open_ticket? %>
	          			  	<thead>
	          			  		<tr>
	          			  		  <th colspan="4">Coming Back : <%= @order.coming_back_item.title %></th>
	          			  		</tr>
	          			  		<tr>
          			  				<th>Age</th>
          			  				<th>Price</th>
          			  				<th>Quantity</th>
          			  				<th>Amount</th>
          			  			</tr>
	          			  	</thead>
	                        <tbody>
							  <tr>
							   <td>Adult</td>
							   <td><%= "%.2f" % @order.coming_back_item.adult_fare %></td>
							   <td><%= @order.coming_back_item.number_of_adult %> </td>
							   <td><%= "%.2f" % @order.coming_back_item.total_adult_fare %></td>
							  </tr>
							  <tr>
							   <td>Child</td>
							   <td><%= "%.2f" % @order.coming_back_item.kid_fare %></td>
							   <td><%= @order.coming_back_item.number_of_kid %> </td>
							   <td><%= "%.2f" % @order.coming_back_item.total_kid_fare %></td>
							  </tr>
							  <tr>
							   <td>Infant</td>
							   <td><%= "%.2f" % @order.coming_back_item.infant_fare %></td>
							   <td><%= @order.coming_back_item.number_of_infant %> </td>
							   <td><%= "%.2f" % @order.coming_back_item.total_infant_fare %></td>
							  </tr>
							  <tr>
	                           <td></td>
	                           <td></td>
	                           <td><%= @order.coming_back_item.total_tickets %></td>

	                           
	                           	<th>
	                           		<% if @order.payment_type_is_free? %>
	                           		 	<%= "%.2f" % @order.coming_back_item.total_amount %> (F.O.C)
		                            <% else %>
	                           			<%= "%.2f" % @order.coming_back_item.total_amount %>
	                           		<% end %>
	                           	</th>
	                           

							  </tr>
							 <tbody>
							 <% @net_total += @order.coming_back_item.total_amount %>
                       <% end %>

                         <%# @net_total += tax + service_charges %>
                         <tr><td colspan=4><strong>Payment</strong></td></tr>
                         
                         	<tbody>
                         		<tr>
	                        		<td>2 way ticket discount</td>
	                        		<td></td>
	                        		<td></td>
	                        		<td>
	                        			<% if @order.is_round_trip? or @order.is_open_ticket? %>
	                        				(<%= "%.2f" % @order.discount %>)
	                        				<% @net_total -= @order.discount %>
                        				<% end %>
                        			</td>
	                        	</tr>
	                        	<tr>
	                        		<td>Agent discount</td>
	                        		<td></td>
	                        		<td></td>
	                        		<td>
                        				<% if @order.buyer_is_agent? %>
                        				  <% agent_discount = @net_total * current_branch.agent_commission / 100 %>
                        				  (<%= "%.2f" % agent_discount %>) 
                                          <% @net_total -= agent_discount %>
                        				<% end %>
                        			</td>
	                        	</tr>
								<tr>
								 <td>Tax</td>
								 <td></td>
								 <td></td>
								 <td></td>
								</tr>
								<tr>
								 <td>Service Charges</td>
								 <td></td>
								 <td></td>
								 <td></td>
								</tr>
								<tr>
		                         <th>Total Price</th>
		                         <td> </td>
		                         <td></td>
		                         <th> <span id="net-total"><%= "%.2f" % @net_total %></span></th>
								</tr>
							<tbody>
                       </table>
	                </div>
	             </div>
	            </div>
	          </div>
       </div>
   </div>

