<%#= debug @result %>
<%= form_tag orders_path(Order.new) do %>
  	<%= render :partial => "order", :locals => {:order => @result, :seller => current_user} %>
  	<div class="row-fluid">
                                    <!--Tabs1-->
    <div class="span12">
     	<div id="accordion1" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#notification1" data-original-title="">
                        <i class="icon-th icon-white"></i> <span class="divider-vertical"></span>  <%= @result[:departure_title] %> <i class="icon-chevron-down icon-white pull-right"></i>
                    </a>
                </div>
                <div id="notification1" class="accordion-body collapse in">
                    <div class="accordion-inner paddind">
                    	<% if @result[:departures].any? %>
	                        <table  class="table table-bordered table-striped pull-left" id="departure_table" >
	                            <thead>
								  <tr>
								  	<th width="50px;">Select</th>
								   	<th>Depart</th>
								  </tr>
	  						 </thead>
	  						 <tbody>
								 <% @result[:departures].each do |depart| %>
									<tr>
										<td>
											<% if depart.available_counter_sales >= @total_tickets.to_i %> 
										    	<input type="radio" name="order[departure_routine_id]" id="order_departure_routine_id_<%= depart.id %>" value="<%= depart.id %>">
									    	<% end %> 
									   	</td>
									   	<td><%= depart.date_time %></td>
									</tr>
								  <% end %>
							</tbody>
						</table>
						<br />
                         <% else %>
                           <p>Sorry, no schedules available. Please select another date or station and try again.</p>
	                     <% end %>
	                      </div>
	                  </div>
	              </div>
	        </div>    
       	</div>
   	</div>

<% if @result[:order]["trip_type"] == "round" %>
  <div class="row-fluid">
                                    <!--Tabs1-->
    <div class="span12">
       <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#notification2" data-original-title="">
                        <i class="icon-th icon-white"></i> <span class="divider-vertical"></span>  <%= @result[:return_title] %> <i class="icon-chevron-down icon-white pull-right"></i>
                    </a>
                </div>
                <div id="notification2" class="accordion-body collapse in">
                    <div class="accordion-inner paddind">
                    	<% if @result[:arrivals].any? %>
	                        <table  class="table table-bordered table-striped pull-left" id="departure_table" >
	                            <thead>
								  	<tr>
								  		<th width="50px;">Select</th>
								  		<th>Depart</th>
								  	</tr>
	  						 	</thead>
	  						 <tbody>
							 <% @result[:arrivals].each do |depart| %>
							  <tr>
							  	<td>
							  		<% if depart.available_counter_sales >= @total_tickets.to_i %>
							    		<input type="radio" name="order[arrival_routine_id]" id="order_arrival_routine_id_<%= depart.id %>" value="<%= depart.id %>">
							    	<% end %>
							   </td>
							   <td><%= depart.date_time %></td>
							  </tr>
							 <% end %>
							</tbody>
						 </table>
						<br />
						<% else %>
					      <p>Sorry, no schedules available. Please select another date or station and try again.</p>

					  <% end %>

	                      </div>
	                  </div>
	              </div>
	          </div>
					  
		     </div>
		   </div>
		<% end # endif @result[:order]["trip_type"] == "round" %>

	<% if @result[:order]["trip_type"] == "open_ticket" %>
	  	<div class="row-fluid">
	    	<div class="span12">
	      		<div id="accordion2" class="accordion">
	        		<div class="accordion-group">
	          			<div class="accordion-heading">
	            			<a class="accordion-toggle" data-toggle="collapse" href="#notification2" data-original-title="">
	              				<i class="icon-th icon-white"></i> <span class="divider-vertical"></span>  <%= @result[:return_title] %> <i class="icon-chevron-down icon-white pull-right"></i>
	            			</a>
	          			</div>

	          			<div id="notification2" class="accordion-body collapse in">
	            			<div class="accordion-inner paddind">
	            				To be claim at counter

	            				<%= hidden_field_tag "order[departure_id]", @result[:order]["arrival_jetty_id"]  %> <!-- 2 -->
	            				<%= hidden_field_tag "order[arrival_id]", @result[:order]["departure_jetty_id"]  %> <!-- 1 -->
		                    </div>
		                </div>
		            </div>
		        </div>			  
			</div>
		</div>
	<% end %>

  <!-- <div class="row-fluid"> -->
    <!--Tabs1-->
   <div class="row-fluid">
    <div class="span11">
      <div class="control-group select required">

      	<% if @result[:order]["trip_type"] == "open_ticket" %>
      		<label class="radio inline">
			  <input type="radio" name="order[buyer_type]" id="order_buyer_type_agent" value="agent" checked="checked">
			  Agent
			</label>
      	<% else %>
			<label class="radio inline">
			  <input type="radio" name="order[buyer_type]" id="order_buyer_type_normal" value="normal" checked="checked">
			  Normal
			</label>
			<label class="radio inline">
			  <input type="radio" name="order[buyer_type]" id="order_buyer_type_agent" value="agent">
			  Agent
			</label>
			<label class="radio inline">
			  <input type="radio" name="order[buyer_type]" id="order_buyer_type_warrant" value="warrant">
			  Warrant
			</label>
		<% end %> 

	  </div>
	  
		<div class="controls">

	<% if @result[:order]["trip_type"] == "open_ticket" %>
		<select class="select"  name="order[agent_id]" id="order_agent_id">
	<% else %> 
		<select class="select"  name="order[agent_id]" id="order_agent_id" style="display:none">
	<% end %> 
		    <option value="">Choose agent</option>
		    <% @agents.each do |agent| %>
		      <option value="<%= agent.id %>"><%= agent.fullname%></option>
		    <% end %>
		</select>

		<select class="select"  name="order[warrant_id]" id="order_warrant_id" style="display:none">
		    <option value="">Choose warrant</option>
		    <% @warrants.each do |warrant| %>
		      <option value="<%= warrant.id %>"><%= warrant.name%></option>
		    <% end %>
		</select>
	   </div>


  	   <input class="btn btn btn-primary btn-large" name="commit" type="submit" value="   Confirm    " id="order_button" />

  	   <%= link_to t('.back', :default => t("helpers.links.back")), new_order_path, :class => 'btn'  %>
    </div>
   </div>
        <!--/Tabs1-->
<!--   </div> -->
    <!--/Row fluid-->

  <% end # end of form %>

    <% content_for :javascripts_path do %>
      <script>
       $(function(){
          $("#order_buyer_type_agent").click(function(){
          	$("#order_agent_id").show();
          	$("#order_warrant_id").hide();
          })

          $("#order_buyer_type_warrant").click(function(){
          	$("#order_agent_id").hide();
          	$("#order_warrant_id").show();
          })

          $("#order_buyer_type_normal").click(function(){
          	$("#order_agent_id").hide();
          	$("#order_warrant_id").hide();
          })

          $("#order_button").click(function(){

          	  if($("input[name='order[departure_routine_id]']:radio:checked").length==0)
          	  {
          	  	alert("You must select a departing route to continue");
          	  	return false
          	  }


          	<% if @result[:order]["trip_type"] == "round" %>
          	  if($("input[name='order[arrival_routine_id]']:radio:checked").length==0)
          	  {
          	  	alert("You must select a return route to continue");
          	  	return false
          	  }
          	<% end %>

          	<% if @result[:order]["trip_type"] == "open_ticket" %>
          	  if ($("input[name='order[arrival_id]']").length==0){
          	  	alert("You must select a return route to continue");
          	  	return false
          	  }

          	  if ($("input[name='order[departure_id]']").length==0){
          	  	alert("You must select a return route to continue");
          	  	return false
          	  }
          	<% end %>

          	if($("input[name='order[buyer_type]']:radio:checked").val()=="agent")
          	{
          		if($("#order_agent_id").val()=="")
          		{
          			alert("You must select an agent");
          			return false
          		}
          	}

          	if($("input[name='order[buyer_type]']:radio:checked").val()=="warrant")
          	{
          		if($("#order_warrant_id").val()=="")
          		{
          			alert("You must select an warrant");
          			return false
          		}
          	}
          	
          })

       	    });
       </script>

    <% end %>
