<%= form_for(@reservation_detail) do |f| %>
  <% if @reservation_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation_detail.errors.count, "error") %> prohibited this reservation_detail from being saved:</h2>

      <ul>
      <% @reservation_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reservation_number %><br />
    <%= f.text_field :reservation_number %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
