<h1>Listing reservation_details</h1>

<table>
  <tr>
    <th>Reservation number</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservation_details.each do |reservation_detail| %>
  <tr>
    <td><%= reservation_detail.reservation_number %></td>
    <td><%= reservation_detail.order_id %></td>
    <td><%= link_to 'Show', reservation_detail %></td>
    <td><%= link_to 'Edit', edit_reservation_detail_path(reservation_detail) %></td>
    <td><%= link_to 'Destroy', reservation_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation detail', new_reservation_detail_path %>
