<%= form_tag(search_departure_orders_path, :id => "search_schedule") do %>

<%#= hidden_field_tag "order[status_id]", OrderStatus::PENDING %>

<% if controller_name == "reservations" %>
  <span style="display:none;"><%= text_field_tag "order[reservation]", "yes" %> Reservation</span>
<% end %> 


<div class="control-group select required">
  <label class="radio inline" style="width: 100px;">
    <input type="radio" name="order[trip_type]" id="order_trip_type_round" value="round" checked>
    Round Trip
  </label>
  <label class="radio inline" style="width: 100px;">
    <input type="radio" name="order[trip_type]" id="order_trip_type_one" value="one">
    One Way
  </label>
  <label class="radio inline" style="width: 100px;">
    <input type="radio" name="order[trip_type]" id="order_trip_type_open_ticket" value="open_ticket">
    Open Ticket
  </label>
</div>

<div class="control-group select required" id="order_departure_jetty_id_div">
  <label class="select required control-label" for="order_departure_jetty_id"><abbr title="required">*</abbr> Departing</label>
  <div class="controls">
    <select class="select required" name="order[departure_jetty_id]" id="order_departure_jetty_id">
      <option value="">Origin</option>
      <% @jetties.each do |jetty| %>
        <option value="<%= jetty.id %>"><%= jetty.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="control-group select required" id="order_arrival_jetty_id_div"><label class="select required control-label" for="order_arrival_jetty_id"><abbr title="required">*</abbr> Arriving</label>
  <div class="controls">
  <select class="select required"  name="order[arrival_jetty_id]" id="order_arrival_jetty_id">
    <option value="">Destination</option>
  </select>
  </div>
</div>

 <div data-date-format="dd-mm-yyyy" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" id="start" class="input-append date">
    Departure Date <br />
    <input type="text" readonly="" value="" size="16" class="span2" name="order[depart_date]" id="departure_date">
    <span class="add-on"><i class="icon-th"></i></span>
</div>

<div data-date-format="dd-mm-yyyy" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" id="end" class="input-append date">
  Return Date <br />
  <input type="text" readonly="" value="" size="16" class="span2" name="order[return_date]"  id="return_date">
  <span class="add-on"><i class="icon-th"></i></span>
</div>

<div class="controls docs-input-sizes">
  Adult
  <select class="span1" name="order[adult]">
    <% 1.upto(50) do |num| %>
    <option><%= num %></option>
     <% end %>
  </select>

</div>

<div class="controls docs-input-sizes">
  Child
  <select class="span1" name="order[kid]">
    <% 0.upto(50) do |num| %>
    <option><%= num %></option>
     <% end %>
  </select>
</div>
<div class="controls docs-input-sizes">
  Infant
  <select class="span1" name="order[infant]">
    <% 0.upto(50) do |num| %>
    <option><%= num %></option>
     <% end %>
  </select>
</div>

<input class="btn btn btn-primary" name="commit" type="submit" value="Search" id="search_button" />
<% end %>

